@tailwind utilities;
@tailwind components;
@tailwind base;

:root {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply bg-slate-800 text-slate-300
}

html {
  font-size: 14px;
  line-height: 1em;
}

#app {
  height: 100vh;
}

.blur {
  filter: blur(2px);
}

.error-line {
  @apply text-red-600 italic font-bold;
}